@font-face {
    font-family: 'POLYA';
    src: url('font/POLYARegular-Regular.woff2') format('woff2'),
        url('font/POLYARegular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.landing{
    background-image: url('../src/img/bg.jpg');
    background-size: cover;
    background-position: center;
}
.landing h2{
    font-family: 'POLYA';
    font-size: 2rem;
    border-radius: 10px;
    padding-top: 0;
    margin: 0;
    color:white;
    text-shadow:
    0 0 1px #000,
    0 0 7px #000,
    0 0 10px #000,
    0 0 21px #000,
    0 0 42px #000,
    0 0 82px #000,
    0 0 92px #000,
    0 0 102px #000,
    0 0 151px #000;
    margin: 0;
}
.landing hr{
    margin: 0;
    border: 0.5px solid white;
}
.App{
    max-width: 99vw;
    overflow-x: hidden;
}

