@font-face {
    font-family: 'POLYA';
    src: url('font/POLYARegular-Regular.woff2') format('woff2'),
        url('font/POLYARegular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.App{
    max-width: 99vw;
    overflow-x: hidden;
}

.landing{
    background-image: url('../src/img/bg.jpg');
    background-size: cover;
    background-position: center;
}
.landing h2{
    font-family: 'POLYA';
    font-weight: 599;
    backdrop-filter: blur(1px);
    font-size: 2rem;
    border-radius: 10px;

    padding-top: 0;
    margin: 0;

    /* color:white;
    width: 100%;
  text-shadow:  black;
  stroke-width: 5px; */
        color: #202020;
    background-color: #2d2d2d;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;

}


  