.education-institute {
  text-align: left;
}
.education-degree {
  text-align: left;
}
.institute-name,
.degree-name {
  font-weight: bold;
  font-size: 1.4vw;
  margin-bottom: 0;
}
.time-spent,
.degree-location {
  font-style: italic;
  font-size: 1.2vw;
}

.learning {
  position: absolute;
  width: 25%;
  bottom: 10%;
  right: 20%;
}
.education .fa {
  color: #e94560;
  padding-right: 5px;
}
.side-text-education{
  position: absolute;
  transform: rotate(90deg);
  right:-18.8vw;
  top: 17rem;
  font-size: 8.15vw;
  font-weight: 750;
  color: #46466d;
  z-index: -1;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .learning{
    display: none;
  }
  .institute-name, .degree-name{
    font-size: 0.75rem;
  }
  .degree-location, .time-spent{
    font-size: 0.6rem;
  }
}