.contact-form{
    width: 85%;
    padding: 5%;
    margin: auto;
    border: 2px solid #E94560;
    margin-top: 5%;
    text-align: left;
    border-radius: 25px;
}
.contact-form button{
    text-align: center;
    color: white;
    background-color: #E94560;
    padding: 1.5%;
    margin-top: 2.5% !important;
    min-width: 25%;
}
.contact-form button:hover{
    background-color: #53272e !important;

}
.contact-text{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 1.2rem;
}
bold{
    font-weight: bold;
}