.profile-text{
    text-align: left;
    font-size: 1.2rem;
}
.profile-img{
    position: relative;
    border-radius: 50%;
    width: 65%;
    margin-top: 5vh;
    /* bottom: 18rem; */
    border: 5px solid #E94560;
}