.devicon{
    font-size: 4rem;
    filter: drop-shadow(8px 8px 10px black);
}
.skills .row{
    text-align: center;
}
.skills .col-lg-2{
    min-height: 15vh !important;
}
.tech-label{
    font-size: 0.65rem;
    margin-top: 3px;
}

/* SVG */
.dev-image{
    position: relative;
    width: 120%;
    right: 20%;
}

.side-text-skills{
    position: absolute;
    transform: rotate(90deg);
    right:-13rem;
    top: 15rem;
    font-size: 11rem;
    font-weight: 750;
    color: #46466d;
    z-index: -1;
    text-transform: uppercase;
  }